# Ignore:
build
.next
.turbo
data
node_modules
.yarn/
.cache/
coverage/
pnpm-*.yaml
.history/
v8-compile-cache-*
.pnpm-store
.vercel/
.contentlayer/
.ignore/
generated/
.generated/
assets/**/*.json
styled-system/
.vscode/templates
**/ids.ts
src/v3/
src/v3/**/*
v3/

.local/
public/assets/

src/mdx-cache.json
src/mdx-index.json
src/styles/_variables.css
src/styles/_variables.scss
