APP_ENV=development

NEXT_PUBLIC_AXIOM_INGEST_ENDPOINT=
ENABLE_EXPERIMENTAL_COREPACK=1

# Set to '1' or 'true' to enable these features:
APP_DEBUG=
NEXT_PUBLIC_LOCAL_ASSETS_ENABLED=
LOCAL_ASSETS_ENABLED=

# Vercel
# VERCEL_URL=http://localhost:3000

# next auth
NEXTAUTH_SECRET=s3cr3t!
# NEXTAUTH_URL=http://localhost:3000
# NEXTAUTH_URL_INTERNAL=http://localhost:3000

# email
# EMAIL_PROVIDER: use 'resend', 'filesystem' or 'console'
# 'console' will log the email text to the running server output
EMAIL_PROVIDER=console
EMAIL_DEFAULT_FROM=noreply@notifications.supereffective.gg

# axiom
AXIOM_METRICS_API_KEY=abc-123-456

# resend.com
RESEND_API_KEY=abc123

# prisma/drizzle
DATABASE_URL='postgresql://myuser:mysecret@127.0.0.1:5432/supereffectivedb?search_path=public&pgbouncer=true&connect_timeout=10'
STUDIO_DATABASE_URL='postgresql://myuser:mysecret@127.0.0.1:5432/supereffectivedb?search_path=public&connect_timeout=10'
DIRECT_DATABASE_URL='postgresql://myuser:mysecret@127.0.0.1:5432/supereffectivedb?search_path=public&connect_timeout=10'
SHADOW_DATABASE_URL='postgresql://myuser:mysecret@127.0.0.1:5432/supereffectivedb_shadow?search_path=public&pgbouncer=true&connect_timeout=10'

# patreon
PATREON_APP_CLIENT_ID=abc1235
PATREON_APP_CLIENT_SECRET=xyz6789

# github
GITHUB_OAUTH_CLIENT_ID=abc1235
GITHUB_OAUTH_CLIENT_SECRET=xyz6789


# Live CMS editing
DRAFT_MODE_SECRET=abc1245
