:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;
  /* --radius: 0.375rem; */
  --safe-area-inset-fallback: 20px;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

* {
  position: relative;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.4;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  background: var(--color-blueberry-darker);
}

html,
body {
  overscroll-behavior: none;
  /* this disables pull-to-refresh and pinch-to-zoom */
  padding: 0;
  margin: 0;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

body {
  min-width: 310px;
}

a {
  color: var(--color-blueberry-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
hr {
  margin: 1rem 0;
}

hr {
  border-color: var(--color-blueberry-light);
  border-width: 1px 0 0 0;
}

article ul,
article ol {
  margin: 1rem 0;
  padding: 0 0 0 1.5rem;
}

article ul {
  list-style-type: disc;
}

article ol {
  list-style-type: decimal;
}

article ul ul,
article ul ol,
article ol ul,
article ol ol {
  margin: 0;
}

article blockquote {
  margin: 1rem 0;
  padding: 0 0 0 1.5rem;
  border-left: 0.25rem solid var(--color-blueberry-light);
  color: var(--color-blueberry-light);
}
