.toolbar {
  position: fixed;
  top: var(--menu-height);
  left: 0;
  width: 100vw;
  height: var(--toolbar-height);
  z-index: 101;
  text-align: center;
  white-space: nowrap;
}

.toolbarContainer {
  width: 100vw;
  height: var(--toolbar-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blueberry-medium-alpha50);
  border-bottom: 2px solid #000;
  padding: 0 2rem;
  gap: 2rem;
}

/* .toolbarContainer > * {
  flex-grow: 1;
  flex-basis: 0;
} */

.toolbarContainer > *:last-child {
  text-align: right;
}

.toolbarApp {
  margin-top: var(--toolbar-height);
}

.counters {
  font-weight: bold;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.counters .counter {
  display: inline-block;
}

.counters .counter i {
  margin-right: 5px;
}

.counters .counter i:global(.icon-pkg-ribbon) {
  background: #f5b834;
  padding: 0.2rem;
  border-radius: 5rem;
  text-align: center;
  display: inline-block;
  margin-left: 0.4rem;
  font-size: 1.4rem;
  color: #000;
  width: auto;
  top: 3px;
}

.dexHeader {
  max-width: 600px;
  padding: 1.2rem 1.4rem;
  margin: 0 auto 1rem auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 1em;
  gap: 1rem;
  vertical-align: baseline;
  /* background: linear-gradient(120deg, rgba(255, 255, 255, 0.7), rgba(183, 183, 183, 0.35)); */

  /* border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  box-shadow: 3px 3px 0 2px rgba(0, 0, 0, 0.6); */
}

.dexLogo {
  padding: 0.35rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.6rem;
  pointer-events: none;
  user-select: none;
  max-width: 180px;
  line-height: 1px;
}

.dexInfo {
  padding: 0 1rem;
}

.dexLogo img {
  max-width: 100% !important;
  height: auto !important;
}

.dexHeader .dexTitle {
  text-align: center;
  margin: 0;
}

.dexHeader .dexIcon {
  font-size: 1.5rem;
}

.presetName {
  opacity: 0.6;
  font-size: 0.9rem;
  margin: 0.25rem 0 0.5rem 0;
}

a.helpBtn {
  color: rgba(0, 0, 0, 0.5);
}

.socialLinks {
  justify-content: center;
  padding: 0.5rem 0;
  margin: 1rem 0 0 0;
}

.socialLinks a {
  opacity: 0.6;
}

.socialLinks a:hover {
  opacity: 1;
}

.dexMessageBanner {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.45);
  color: rgba(0, 0, 0, 0.5);
  margin: 0 auto 2.5rem auto;
  font-size: 12px;
}

.dexMessageBanner a {
  color: var(--color-teal);
}

.socialLinksBanner {
  padding: 0;
  /*background: rgba(255, 255, 255, 0.45);*/
  color: #fff;
  margin: 0 auto 0 auto;
  font-size: 12px;
}

.topRightCallout {
  position: fixed;
  top: var(--menu-height);
  right: 1rem;
  color: #fff;
  z-index: 100;
}

.topRightCallout.withToolbar {
  top: calc(var(--menu-height) + var(--toolbar-height));
}

.topRightCallout span {
  /*background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), var(--color-teal);*/
  background: var(--color-blueberry-darker);
  border: 1px solid var(--color-blueberry-darker);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 0.4rem 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: 0.8rem;
  margin-left: 1.5rem;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.topRightCallout.disabledTopCallout {
  cursor: not-allowed;
}

.topRightCallout.disabledTopCallout span {
  background: #444;
  opacity: 0.7;
  pointer-events: none;
  cursor: not-allowed;
}

.topRightCallout span a {
  text-decoration: none;
  color: #fff;
}

.topRightCallout span:hover {
  background-color: var(--color-blueberry-medium-bright);
  text-decoration: none;
}

.lostPkmBox {
  position: relative;
  border-radius: 0 0 24px 24px;
  z-index: 1;
  padding: 0.85rem 1rem 1rem 1rem;
  margin: 0;
}

.lostPkm {
  position: relative;
  display: inline-block;
  min-width: 96px;
  max-width: 128px;
  aspect-ratio: 1;
  margin: 0.5rem;
}

.lostPkm img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5rem;
  background-color: #ccc;
}

.lostPkm::before {
  content: '';
  display: block;
  background: var(--bg-circle-shadow-black);
  border-radius: 5rem;
  z-index: 0;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

@media only screen and (max-width: 760px) {
  .toolbarContainer {
    padding: 0 1.2rem 0 0.6rem;
    gap: 0.6rem;
  }

  .dexHeader {
    flex-direction: column;
    /* margin-top: calc(var(--toolbar-height)) !important; */
  }

  .counters {
    flex-direction: column;
  }
}

.timestamp {
  font-size: 0.8rem;
  opacity: 0.6;
  margin: 0.5rem 0 0 0;
}

.saveBtnGroup {
  display: flex;
  flex-direction: row;
}

.errorbox {
  display: block;
  padding: 1rem;
  background: rgb(255, 199, 199);
  color: rgba(240, 21, 21, 1);
  border: 1px solid rgba(240, 21, 21, 1);
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.linkToolbarBtn {
  padding: 0;
}

.linkToolbarBtn > div {
  padding: 0;
  border: none;
  background: none;
  min-width: 0;
}

.linkToolbarBtn div span {
  border-radius: 0 0.4rem 0.4rem 0 !important;
}

.linkToolbarBtn a {
  color: inherit;
}
